body {
  margin: 0;
}
#root {
  height: 100vh;
  display: grid;
  margin: 0;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  grid-area: 1 / 1 / 2 / 16;
  display: grid;
  justify-content: center;
  align-items: center;
}

#header-title {
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(32, 32, 160);
}

#cv-page {
  grid-area: 3 / 6 / 15 / 11;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  border: 0.1em solid rgb(32, 32, 160);
  border-radius: 10px;
}

.cv-section {
  padding: 2em;
  width: 80%;
  margin: 1em;
}

.cv-title {
  font-size: 1.2em;
  font-weight: bold;
}

.cv-text {
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
}

#edit-cv-btn:hover {
  background-color: rgb(32, 32, 160);
  color: white;
}
#edit-cv-btn {
  grid-area: 1 / 1 / 16 / 2;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(32, 32, 160);
  font-size: 1.2em;
  border: 0.1em solid rgb(32, 32, 160);
  border-radius: 0px 20px 20px 0px;
  transition: 0.2s ease-in-out;
}

#edit-cv-sct {
  grid-area: 3 / 2 / 15 / 8;
  border: 0.1em solid rgb(32, 32, 160);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}

.edit-cv-sct-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 60%;
  padding: 0.8em;
}

.edit-cv-sct-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.15em solid rgb(32, 32, 160);
  border-radius: 8px;
  width: 60%;
}

#edit-cv-sct-btn-sct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.edit-cv-sct-btn {
  background-color: transparent;
  color: rgb(32, 32, 160);
  margin: 0 2em 0 2em;
  border: 0.2em solid rgb(32, 32, 160);
  border-radius: 8px;
  width: 5;
}

/*PDF Settings*/
.pdf-text-size {
  font-size: 1em;
}
